.btn--small {
    width: 160px;
    padding: 0.75rem 1rem;
    height: auto;
}

.btn {
    position: relative;
    padding-right: 50px;
    border-radius: 0;
    font-weight: 500;
    overflow: hidden;
    transition: all 0.3s ease;
    min-width: 8.125rem;
    &::after {
        content: "";
        position: absolute;
        right: -1px;
        top: 50%;
        transform: translateY(-50%);
        width: 40px;
        height: 20px;
        background-position: center right;
        background-repeat: no-repeat;
        transition: all 0.3s ease;
    }
}

.filters .btn {
    padding: .375rem .75rem;
}

.btn-primary,
.btn-default {
    background-color: var(--rbf-blue-900);
    border-color: var(--rbf-blue-900);
    color: white !important;
    &:hover {
        background-color: var(--rbf-blue-700);
        border-color: var(--rbf-blue-700);
        color: white !important;
    }
}
.btn-secondary,
.btn-default--secondary {
    background-color: var(--rbf-blue-300);
    border-color: var(--rbf-blue-300);
    color: var(--rbf-blue-900) !important;
    &:hover {
        background-color: var(--rbf-blue-500);
        border-color: var(--rbf-blue-500);
        color: var(--rbf-blue-900) !important;
    }
}

.btn-support {
    background-color: var(--rbf-green-900);
    border-color: var(--rbf-green-900);
    color: white !important;
    &:hover {
        background-color: var(--rbf-green-700);
        border-color: var(--rbf-green-700);
        color: white !important;
    }
}
.btn-support--secondary {
    background-color: var(--rbf-green-300);
    border-color: var(--rbf-green-300);
    color: var(--rbf-green-900) !important;
    &:hover {
        background-color: var(--rbf-green-500);
        border-color: var(--rbf-green-500);
        color: var(--rbf-green-900) !important;
    }
}
.btn-donate {
    background-color: var(--rbf-purple-900);
    border-color: var(--rbf-purple-900);
    color: white !important;
    &:hover {
        background-color: var(--rbf-purple-700);
        border-color: var(--rbf-purple-700);
        color: white !important;
    }
}
.btn-donate--secondary {
    background-color: var(--rbf-purple-300);
    border-color: var(--rbf-purple-300);
    color: var(--rbf-purple-900) !important;
    &:hover {
        background-color: var(--rbf-purple-500);
        border-color: var(--rbf-purple-500);
        color: var(--rbf-purple-900) !important;
    }
}

.btn-primary::after,
.btn-default::after,
.btn-support::after,
.btn-donate::after {
    background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg id='Layer_2' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 45.18 22'%3E%3Cdefs%3E%3Cstyle%3E.cls-1%7Bfill:%23fff;%7D.cls-2%7Bfill:none;stroke:%23fff;stroke-miterlimit:10;stroke-width:2px;%7D%3C/style%3E%3C/defs%3E%3Cg id='Desktop'%3E%3Cg%3E%3Ccircle class='cls-2' cx='11' cy='11' r='10'/%3E%3Cline class='cls-2' x1='21' y1='11' x2='45.18' y2='11'/%3E%3Ccircle class='cls-1' cx='11' cy='11' r='5'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}
.btn:hover::after {
    right: -10px;
}

.btn-secondary::after,
.btn-default--secondary::after {
    background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg id='Layer_2' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 45.18 22'%3E%3Cdefs%3E%3Cstyle%3E.cls-1%7Bfill:%23004a89;%7D.cls-2%7Bfill:none;stroke:%23004a89;stroke-miterlimit:10;stroke-width:2px;%7D%3C/style%3E%3C/defs%3E%3Cg id='Desktop'%3E%3Cg%3E%3Ccircle class='cls-2' cx='11' cy='11' r='10'/%3E%3Cline class='cls-2' x1='21' y1='11' x2='45.18' y2='11'/%3E%3Ccircle class='cls-1' cx='11' cy='11' r='5'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}
.btn-support--secondary::after {
    background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg id='Layer_2' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 45.18 22'%3E%3Cdefs%3E%3Cstyle%3E.cls-1%7Bfill:%233f9370;%7D.cls-2%7Bfill:none;stroke:%233f9370;stroke-miterlimit:10;stroke-width:2px;%7D%3C/style%3E%3C/defs%3E%3Cg id='Desktop'%3E%3Cg%3E%3Ccircle class='cls-2' cx='11' cy='11' r='10'/%3E%3Cline class='cls-2' x1='21' y1='11' x2='45.18' y2='11'/%3E%3Ccircle class='cls-1' cx='11' cy='11' r='5'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}
.btn-donate--secondary::after {
    background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg id='Layer_2' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 45.18 22'%3E%3Cdefs%3E%3Cstyle%3E.cls-1%7Bfill:%2365005c;%7D.cls-2%7Bfill:none;stroke:%2365005c;stroke-miterlimit:10;stroke-width:2px;%7D%3C/style%3E%3C/defs%3E%3Cg id='Desktop'%3E%3Cg%3E%3Ccircle class='cls-2' cx='11' cy='11' r='10'/%3E%3Cline class='cls-2' x1='21' y1='11' x2='45.18' y2='11'/%3E%3Ccircle class='cls-1' cx='11' cy='11' r='5'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}